<div id="container">
  <div id="main-right-col" >
    <div id="main-share" class="round">
      <b>شارك هذه الصفقة</b>
    </div>
    <div id="deal-description" >
      <div id="deal-details">
        <h1>
          عرض اليوم : ادفع 50 جنيه لتحصل على طعام هندى شهى بقيمة 100 جنيه فى مطعم مسالا كرافت, و وفر 50 جنيه
        </h1>
      </div>
      <div id="deal-sidebar">
        deal-sidebar
      </div>
    </div>
  </div>
  <div id="main-left-col">
      sdfsdf
  </div>
  
</div>
